<%= form_tag authentication_user.password_resets_path, method: :post, class: 'form-login' do %>
  <div class='path-10'>
    <%= label_tag :email, t('attributes.email'), class:'login-label' %>
    <%= text_field_tag :email, '', class: 'login-input' %>
  </div>
  <div class='clearfloat'></div>
  <%= submit_tag t('views.form.reset_password'), class: "login-button" %>
<% end %>
